//common_colors-----
$default-color:#474B54;
$defaultButtonColor:#cf2122;
$buttonFontColor:#fff;
$errorColor:#1b1f28;
$border-color:#707070;

//---Iniscreen scss variables---------
//signup button color---
$signup-button-color:#3491DE;
$signup-button-font-color:#000;
//login button color----
$login-button-color:#fff;
$login-button-font-color:#000;
//skip button color----
$skip-button-font-color:#fff;
//------------------------------------

//---Sidemenu scss variables------
$cat_bg			: #fff;
$cat_font_color		: #474b54;
$cat_font_size		: 15px;
$cat_arrow		: #474B54;
$cat_seprator		: #eee;

$font-color		: #000;
$form-field-color	: #000;
$form-field-border	: #000;
$placeholder-color	: #fff;
$placeholder-content	: #aaa;
$link-color		: #000;
$content-bgimg		: '';
//--------------------------------
