//-----scss for the login screen-------------
.commonBackground{background:url("../img/background_inner.jpg") no-repeat scroll left bottom /cover;display: block;background-repeat: repeat-y;margin: 0;}

.loginScreen{
    .skipButton{ background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;top: 10px;width: 60px;
    border-radius: 2px;color: #fff;font-size: 13px;height: 40px;padding: 10px 0;position:absolute;right:20px;text-align:center;
    }
  	.logo{margin-top: 10px; text-align: center;
      .container{box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background: #fff none repeat scroll 0 0;border-radius: 50%;display: inline-block;height: 125px;line-height: 165px;text-align: center;width: 125px;
        img{height: 55px;}
      }
    }
    .socialLogin{padding: 30px 90px 0;
      .col{text-align: center;
        button{border-radius: 50%;width: 50px;height: 50px;color: #fff;padding: 0;}
        .ion-social-facebook{background: #183263;}
        .ion-social-google-outline{background: #A93001;}
      }
    }
    .or{margin-top: 10px;margin-bottom: 10px;
      .col{
      text-align: center;
      span{color:#fff;}
    }}

  	.signupBtn{margin:0px auto; text-align:center; padding:5px 20px;//background: rgba(0,0,0,0.1);
  		input{border-bottom:1px solid #D45863;padding:10px;margin: auto;width: 100%;height: 40px;background: transparent;color:#fff;
  			&::-moz-placeholder {color: #fff;	opacity: 0.62;font-size:14px;letter-spacing: 0.5px;		}
  			&::-webkit-input-placeholder { color: #fff;	opacity: 0.62;font-size:14px;letter-spacing: 0.5px;		}
  		}
  		.icon{ color: #fff;font-size: 21px;padding: 7px 9px 7px 2px;}
  	}

  	.loginBtn{margin:0px auto; text-align:center; padding:5px 20px;//background: rgba(0,0,0,0.1);
      input{border-bottom:1px solid #D45863;padding:10px;margin: auto;width: 100%;height: 40px;background: transparent;color:#fff;
  			&::-moz-placeholder {color: #fff;	opacity: 0.62;font-size:14px;letter-spacing: 0.5px;		}
  			&::-webkit-input-placeholder { color: #fff;	opacity: 0.62;font-size:14px;letter-spacing: 0.5px;		}
  		}
  		.icon{ color: #fff;font-size: 21px;padding: 7px 9px 7px 2px;}
  	}

    .preference{margin:0px auto;padding:5px 20px;//background: rgba(0,0,0,0.1);
      .col{font-size: 12px;  padding: 0 12px 15px;}
      .rem{padding-left: 0;
        label{background: transparent;border:none;margin: 0;font-size: 12px;color:#fff;padding-top: 0;padding-bottom: 0;padding-left:34px;
          .checkbox{left:0;
            i:before{height:25px;width:18px;border-radius: 0;}
            .checkbox input::after, .checkbox-icon::after{left:12%;}
          }
        }
      }
      .for{text-align: right;color:#003655;}
    }

  .buttonDiv{width: 100%;padding: 0px 20px;
    button{padding: 0;background: #fff none repeat scroll 0 0;border-radius: 40px !important;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #8d161a;   position: relative;  width: 100% !important;
  }
}

  .signupPage{width: 100%;padding: 5px 20px;
    .col{text-align: center;color:#fff;font-size: 12px;
      span{color:#003655;padding: 20px 0;}
    }
  }
  .demoaccount{
    .col{font-size: 16px;}
  }
}

//-----------------------------------------------------
.registerScreen{
  .skipButton{ background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;top: 10px;width: 60px;text-decoration: none;
  border-radius: 2px;color: #fff;font-size: 13px;height: 40px;padding: 10px 0;position:absolute;right:20px;text-align:center;
  }
  .logo{margin-top: 10px; text-align: center;
    .container{box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background: #fff none repeat scroll 0 0;border-radius: 50%;display: inline-block;height: 125px;line-height: 165px;text-align: center;width: 125px;
      img{height: 55px;}
    }
  }
  .morefuncti{margin-top: 20px;
    .col{text-align: center;font-size: 16px;color:#fff;

    }
  }
  .userType{padding: 30px 60px 0;transition:padding 0.5s ease;
    .col{text-align: center;font-size: 11px;color:#fff;
      button{border-radius: 50%; height: 15px;min-width: 50px;color:  #003555;padding: 0;}
      button:before{font-size: 30px;}
      .active{border:2px solid #050100;min-height: 50px; min-width: 50px;}
      .ion-person{background:#fff;}
    }
  }
  .afterclick{padding: 100px 60px 0;transition:padding 0.5s ease;
    .col{text-align: center;font-size: 11px;color:#fff;
      button{border-radius: 50%; min-height: 50px;min-width: 50px;color:  #003555;padding: 0 !important;}
      button:before{font-size: 30px;}
      .active{border:2px solid #050100;min-height: 50px;min-width: 50px;padding: 0;}
      .ion-person{background:#fff;}
    }
  }
  .signupBtn{margin:0px auto; text-align:center; padding:5px 20px;//background: rgba(0,0,0,0.1);
    input{border-bottom:1px solid #D45863;padding:10px;margin: auto;width: 100%;height: 40px;background: transparent;color:#fff;
      &::-moz-placeholder {color: #fff;	opacity: 0.62;font-size:14px;letter-spacing: 0.5px;		}
      &::-webkit-input-placeholder { color: #fff;	opacity: 0.62;font-size:14px;letter-spacing: 0.5px;		}
    }
    .icon{ color: #fff;font-size: 21px;padding: 7px 9px 7px 2px;}
  }

  .buttonDiv{width: 100%;padding: 15px 20px 0;
    button{padding: 0;background: #fff none repeat scroll 0 0;border-radius: 40px !important;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #8d161a;   position: relative;  width: 100% !important;
  }
  }

    .footersection{margin-top: 10px;
      .footer{
        p{width: 100%;text-align:center;color: #fff;font-size: 14px;
          .footerButtons{color:#003655;margin-bottom: 17px;margin-left: 5px;font-weight: 500;}
        }
      }
  }
}
//------------------------------

.forgotpassword{ margin-top: 20px;
  .buttonDiv{margin-top: 10px;}
  .footersection{margin-top: 10px;
    .footer{
      p{width: 100%;text-align:center;color: #fff;font-size: 14px;
        .footerButtons{color:#003655;margin-bottom: 17px;margin-left: 5px;font-weight: 500;}
      }
    }
}
}
